@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
}

#containerFaixaAzul {
    background-color: #1c4cff;
    padding: 10px;
}

#textContainerFaixaAzul {
    font-size: 10px;
    font-weight: bold;
    font-family: "Public Sans", sans-serif;
    font-size: 0.7rem;
    margin-left: 5vw;
}

#containerPrincipal {
    display: flex;
}

#containerLogoEBotaoVoltar {
    display: flex;
    flex-direction: column;
}

#img {
    margin: 1rem;
}

#containerBotaoVoltar {
    display: flex;
    margin: 2%;
    margin-left: 10%;
    width: 3vw;
}

#containerBotaoVoltar:hover {
    display: flex;
    margin: 2%;
    margin-left: 10%;
    width: 3vw;
    color: #1c4cff;
}

i {
    margin: 4px;
}

#botaoVoltarPagina {
    background-color: white;
    border: none;
    cursor: pointer;
}

#botaoVoltarPagina a {
    text-decoration: none;
}

#botaoVoltarPagina a:hover {
    text-decoration: none;
    cursor: pointer;
}

#textoBotaoVoltar {
    font-weight: bold;
    font-family: "Public Sans", sans-serif;
    font-size: 1.1rem;
    color: black;
    text-decoration: none; 
}

#textoBotaoVoltar:hover {
    font-weight: bold;
    font-family: "Public Sans", sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    color: #1c4cff;
}

#containerFormulario {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: calc(50vh - 40px);
}

h1 {
    font-family: "Public Sans", sans-serif;
    font-size: 2.2rem;
}

h4 {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}

#containerBotoesFormulario {
    display: flex;
    margin-top: 4rem;
    gap: 2rem;
}

.botaoFormulario {
    width: 100%;
    height: 5vh;
    border-radius: 0%;
    border: 1px solid black;
    color: whitesmoke;
    font-weight: bold;
    font-family: "Public Sans", sans-serif;
    border: none;
    background-color: #1c4cff;
    transition: background-color 0.10s ease;
}

.botaoFormulario:hover {
    cursor: pointer;
    background-color: #3863ff;
}