/* Logo e botão voltar */
#containerLogoEBotaoVoltar {
  display: flex;
  flex-direction: column;
}

/* Título principal */
h1 {
  text-align: center;
  margin: 40px;
  color: #000000;
}

/* Botão voltar */
#botaoVoltarPagina {
    background-color: white;
    border: none;
    cursor: pointer;
}

#botaoVoltarPagina a {
  text-decoration: none;
}

#botaoVoltarPagina a:hover {
  text-decoration: none;
  cursor: pointer;
}

#textoBotaoVoltar {
  font-family: "Public Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#textoBotaoVoltar:hover {
  color: #1c4cff;
}

/* Pesquisa de livros */
#PesquisaDelivros {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#pesquisa {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}

#PesquisaDelivros button {
  padding: 10px 20px;
  background-color: #1c4cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#PesquisaDelivros button:hover {
  background-color: #0055aa;
}

/* Tabela de livros */
#tabelaLivros {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/*Formulário*/

#formulario {
  background-color: #d9d9d9; 
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 650px;
  margin: 30px auto;
  text-align: center;
}

.labelsFormulario {
    width: 50%;
    margin-right: 170px;
    font-family: "Public Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.inputsFormulario {
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    width: 70%;
}

#ra{
  margin-right: 350px;
}

#codigoLivro{
  margin-right: 280px;
}

#containerBotao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#botaoFormulario {
    margin: 10%;
    width: 50%;
    height: 5vh;
    border-radius: 0%;
    border: 1px solid black;
    color: whitesmoke;
    font-weight: bold;
    font-family: "Public Sans", sans-serif;
    border: none;
    background-color: #000000;
    transition: background-color 0.5s ease;
    text-align: center;
}

#botaoFormulario:hover {
    cursor: pointer;
    background-color: #3863ff;
}