* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Faixa azul superior */
#containerFaixaAzul {
  background-color: #1c4cff;
  padding: 10px;
}

#textContainerFaixaAzul {
  font-family: "Public Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 5vw;
}

/* Container principal */
#containerPrincipal {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}