@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  background-color: white;
  color: black;
}

#containerFaixaAzul {
  background-color: #1c4cff;
  padding: 10px;
}

#textContainerFaixaAzul {
  color: white;
  font-weight: bold;
  margin-left: 2vw;
}

#containerLogoPuc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
  margin-top: 1rem;
}

#containerLogoPuc img {
  width: 234px;
  height: auto;
  display: block;
}

#containerBotaoVoltar {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 0.5rem;
}

#containerBotaoVoltar i {
  color: black;
  font-size: 16px;
}

#botaoVoltarPagina {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#botaoVoltarPagina a {
  text-decoration: none;
}

#textoBotaoVoltar {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

#textoBotaoVoltar:hover {
  color: #1c4cff;
}

#containerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

#opcoesGerenciamento {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#opcoesGerenciamento button {
  background-color: #1c4cff;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

#opcoesGerenciamento button:hover {
  background-color: #003ce0;
}
